package pages

import "github.com/Aergiaaa/noted/ui/layouts"

templ Landing() {
	@layouts.Base() {
		<div id="main-content" class="h-full">
			<div class="flex h-full items-center justify-center">
				<p class="text-muted-foreground">Select a page from the sidebar</p>
			</div>
		</div>
	}
}
