package modules

import (
	"github.com/Aergiaaa/noted/ui/components/button"
	"github.com/Aergiaaa/noted/ui/components/dialog"
)

templ ConfirmCard() {
	@dialog.Script()
	@dialog.Dialog(dialog.Props{
		ID: "confirm-card-dialog",
	}) {
		@dialog.Content(dialog.ContentProps{
			HideCloseButton: true,
		}) {
			@dialog.Header() {
				@dialog.Title() { Delete confirmation }
				@dialog.Description() {
					<span x-text="confirmCard?.message"></span>
				}
			}
			@dialog.Footer() {
				@dialog.Close(dialog.CloseProps{
					Attributes: templ.Attributes{"@click": "cancelDelete()"},
				}) {
					@button.Button(button.Props{
						Variant: button.VariantOutline,
						Type:    button.TypeButton,
					}) { Cancel }
				}
				@button.Button(button.Props{
					Variant:    button.VariantDestructive,
					Type:       button.TypeButton,
					Attributes: templ.Attributes{"@click": "doDelete()"},
				}) { Delete }
			}
		}
	}
}