package modules

import "github.com/Aergiaaa/noted/ui/components/button"

templ LogoutButton() {
	@button.Button(button.Props{
		Variant: button.VariantDestructive,
		Href:    "/auth/logout",
	}) {
		Logout
	}
}
