package ui

import "github.com/Aergiaaa/noted/ui/components/button"

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		@head("noted")
		@body()
	</html>
}

templ head(title string) {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/static/css/output.css"/>
		<title>{ title }</title>
	</head>
}

templ body() {
	<body class="flex bg-yellow-300">
		@navbar()
		@button.Button() {
			Button
		}
	</body>
}

templ navbar() {
	<div class="">
		navbar
	</div>
}
